<% unless flash[:change_password_success].nil? %>
    <div class="alert alert-success" style="margin-bottom: 20px; display: block">
        <button onclick="close_popup_alert_box(this)" class="close_button btn-none">
            <ion-icon name="close-outline"></ion-icon>
        </button>
        <div class="alert_content">
            <%= flash[:change_password_success] %>
        </div>
    </div>        
<% end %>

<div class="content_box">
    <h4 class="header">تغییر گذرواژه</h4>
    <div class="form">
        <%= form_with url: {:action => :submit_change_password}, method: :post do |f|%>
            <div class="input" style="margin-right: 5px;">
                <%= f.label :full_name, 'گذرواژه فعلی' %>
                <%= f.password_field :old_password %>
            </div>
            <div class="flex_row">
                <div class="input" style="margin-right: 5px;">
                    <%= f.label :full_name, 'تکرار گذرواژه جدید' %>
                    <%= f.password_field :password_confirmation %>                
                </div>
                <div class="input" style="margin-left: 5px;">
                    <%= f.label :full_name, 'گذرواژه جدید' %>
                    <%= f.password_field :password %>
                </div>
            </div>

            <% unless flash[:change_password_errors].nil? %>
                <% flash[:change_password_errors].each do |e| %>
                    <div class="form_error_list">
                        <div class="item"><%= e %></div>
                    </div>
                <% end %>
            <% end %>

            <div style="width: 100%; text-align: left;">
                <%= f.submit raw("تغییر گذرواژه"), :class => "btn btn-danger btn-large-padding" %>
            </div>
        <% end %>
    </div>
</div>