<div class="content_box">
    <h4 class="header">ویرایش مقاله</h4>

    <div class="form">
        <%= form_for @article, url: {:action => 'submit_edit_article'}, method: :post do |f| %>

            <%= render 'articles/form', f: f, preview_image: true %>

            <div style="margin-top: 10px;">
                <% unless flash[:edit_article_errors].nil? %>
                    <% flash[:edit_article_errors].each do |e| %>
                        <div class="form_error_list">
                            <div class="item"><%= e %></div>
                        </div>
                    <% end %>
                <% end %>

                <% unless flash[:edit_article_success].nil? %>
                    <span class="success_message"><%= flash[:edit_article_success] %></span>
                <% end %>
            </div>

            <%= hidden_field_tag :slug, @article.slug %>

            <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 10px;">
                <%= f.submit 'ثبت مقاله', :class => "btn btn-primary btn-large-padding" %>
                <%= link_to "نمایش مقاله", '/articles/show/' + @article.slug, :class => 'btn btn-primary btn-large-padding' %>
            </div>
        <% end %>
    </div>
</div>