<div class="content_box">
    <div class="flex_row">
        <div class="card-box">
            <div class="icon">
                <ion-icon name="beer-outline"></ion-icon>
            </div>
            <h4 class="title">
                تعداد ادمین ها
            </h4>
            <span class="value">
                <%= @users.select("is_admin=true or is_owner=true").length %>
            </span>
        </div>
        <div class="card-box">
            <div class="icon">
                <ion-icon name="people-outline"></ion-icon>
            </div>
            <h4 class="title">
                تعداد کاربران
            </h4>
            <span class="value">
                <%= @users.all.length %>
            </span>
        </div>
        <div class="card-box">
            <div class="icon">
                <ion-icon name="mail-outline"></ion-icon>
            </div>
            <h4 class="title">
                ایمیل های تایید نشده
            </h4>
            <span class="value">
                <%= @users.where(email_confirmed: false).length %>
            </span>
        </div>
    </div>
    <div class="flex_row">
        <div class="card-box">
            <div class="icon">
                <ion-icon name="male-outline"></ion-icon>
            </div>
            <h4 class="title">
                تعداد کاربران مذکر
            </h4>
            <span class="value">
                <%= @users.where(gender: 'مذکر').length %>
            </span>
        </div>
        <div class="card-box">
            <div class="icon">
                <ion-icon name="female-outline"></ion-icon>
            </div>
            <h4 class="title">
                تعداد کاربران مونث
            </h4>
            <span class="value">
                <%= @users.where(gender: 'مونث').length %>
            </span>
        </div>
    </div>
    <div class="flex_row">
    <div class="card-box">
        <div class="icon">
                <ion-icon name="newspaper-outline"></ion-icon>
            </div>
            <h4 class="title">
                تعداد مقالات
            </h4>
            <span class="value">
                <%= @articles.all.length %>
            </span>
        </div>
        <div class="card-box">
            <div class="icon">
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <h4 class="title">
                تعداد لایک ها
            </h4>
            <span class="value">
                <%= @likes.all.length %>
            </span>
        </div>
        <div class="card-box">
            <div class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
            </div>
            <h4 class="title">
                تعداد کامنت ها
            </h4>
            <span class="value">
                <%= @comments.length %>
            </span>
        </div>
    </div>
</div>