<div class="content_box">
    <% if created_successfully != nil && !created_successfully %>
        <h4 class="header">دوره جدید</h4>

        <div class="form">
            <%= form_for @course, url: {:action => 'submit_new_course'}, method: :post do |f| %>
                
                <%= render 'courses/form', f: f, preview_image: false %>

                <div style="margin-top: 10px;">
                    <% unless flash[:new_course_errors].nil? %>
                        <% flash[:new_course_errors].each do |e| %>
                            <div class="form_error_list">
                                <div class="item"><%= e %></div>
                            </div>
                        <% end %>
                    <% end %>
                </div>

                <div style="margin-bottom: 10px;">
                    <%= render 'layouts/grecaptcha' %>
                </div>

                <div style="width: 100%; display: block; text-align: left;">
                    <%= f.submit 'ثبت دوره', :class => "btn btn-primary btn-large-padding", data: { disable_with: "درحال ارسال فرم" } %>
                </div>
            <% end %>
        </div>
    <% else %>
        <div class="form">
            <div style="text-align: center">
                <div style="width: 100%; display: block; margin-bottom: 10px;">
                    <%= image_tag '/images/videographer.svg', :style => 'width: 60%;', :alt => "mail error" %>
                </div>

                <span dir="rtl">
                    دوره آموزشی با موفقیت ثبت شد.
                    <br>
                    <% unless published %>
                        و بعد از تایید موسس قابل مشاهده خواهد بود.
                    <% end %>
                </span>

                <div style="width: 100%; display: block; margin-top: 20px">
                    <%= link_to "نمایش دوره", '/courses/show/' + slug, :class => 'btn btn-primary' %>
                    <%= link_to "ویدیو ها", '/courses/videos/show/', :class => 'btn btn-primary btn-large-padding' %>
                </div>
            </div>
        </div>
    <% end %>
</div>