<div class="content_box">
    <h4 class="header">مقاله جدید</h4>

    <div class="form">
        <%= form_for @article, url: {:action => 'submit_new_article'}, method: :post do |f| %>
            
            <%= render 'articles/form', f: f, preview_image: false %>

            <div style="margin-top: 10px;">
                <% unless flash[:new_article_errors].nil? %>
                    <% flash[:new_article_errors].each do |e| %>
                        <div class="form_error_list">
                            <div class="item"><%= e %></div>
                        </div>
                    <% end %>
                <% end %>

                <% unless flash[:new_article_success].nil? %>
                    <span class="success_message"><%= flash[:new_article_success] %></span>
                <% end %>
            </div>

            <div style="margin-bottom: 10px;">
				<%= render 'layouts/grecaptcha' %>
			</div>

            <div style="width: 100%; display: block; text-align: left;">
                <%= f.submit 'ثبت مقاله', :class => "btn btn-primary btn-large-padding" %>
            </div>
        <% end %>
    </div>
</div>