<div class="container" style="top: 0">
    <div class="content">
        <div dir="rtl">
            <%= form_with url: '/search/submit_q', method: :post do |f| %>
                 <div class="search-box default-color">
                    <div class="input">
                        <%= f.text_field :search_q, :placeholder => "جست و جو کنید!" %>
                        <button class="submit-button">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                    </div>
                </div>
            <% end %>
        </div>
         <% if @search_result != nil %>
            <% if @search_result.length > 0 %>
                <div class="listed_cards">
                    <% @search_result.each do |i| %>
                        <% if i.image %>  
                            <a href="/<%= i.record_type %>s/show/<%= i.slug %>">
                                <div class='card_box'>
                                    <div class='image cover'>
                                        <%= image_tag i.image.url %>
                                    </div>
                                    <h3 class='title'><%= i.header %></h3>
                                    <p class='desc'><%= i.cover_text[0, 120] %>...</p>
                                    <div class='footer' style='display: flex; justify-content: space-between' dir='ltr'>
                                        <div>
                                            <span class='author'>
                                                <%= i.user.full_name %>
                                                <span class='icon'>
                                                    <ion-icon name='person-outline'></ion-icon>
                                                </span>
                                            </span>
                                        </div>
                                        <div>
                                            <% if i.record_type == 'article' %>
                                                <%
=begin%>
<span class="footer_icon link-danger" dir="ltr">
    <span class='icon'>
        <ion-icon name='heart'></ion-icon>
    </span>
    <%= i.likes.length %>
</span> 
<%
=end%>
                                                <span class='comments_count'>
                                                    <%
=begin%>
 <%= i.comments.length %> 
<%
=end%>
                                                    <span class='icon'>
                                                        <ion-icon name='chatbubble-outline'></ion-icon>
                                                    </span>
                                                </span>
                                            <% else %>
                                                <span class="footer_icon link-danger" dir="ltr">
                                                    <span class='icon'>
                                                        <ion-icon name="book-outline"></ion-icon>
                                                    </span>
                                                    <span style="margin-right: 3px;"><%= i.users.length %></span>
                                                </span>
                                            <% end %> 
                                            <span class='datetime_span'>
                                                <span class='icon'>
                                                    <ion-icon name='calendar-outline'></ion-icon>
                                                </span>
                                                <%= i.published_time %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <% end %>
                    <% end %>
                </div>
            <% else %>
                <span style='color: #777; font-size: 14px; width: 100%; display: block; text-align: center; padding: 20px 0'>چیزی پیدا نشد.</span>
            <% end %>
        <% else %>
            <div style="width: 100%; display: block; margin: 90px 0; text-align: center">
                <%= image_tag '/images/search.svg', :style => 'width: 400px;', :alt => "search" %>
            </div>
        <% end %> 
    </div>
</div>

