<% if art.image.present? %>
    <a href="/articles/show/<%= art.slug %>">
        <div class='card_box'>
            <% if show_publish_banner %>
                <% if art.draft? %>
                    <span class="hashtag hashtag-black">(پیشنویس)</span>
                <% elsif art.published? %>
                    <span class="hashtag hashtag-primary">(منتشر شده)</span>
                <% elsif !art.published? %>
                    <span class="hashtag hashtag-red">(منتشر نشده)</span>
                <% end %>
            <% end %>
            <div class='image cover'>
                <%= image_tag art.image.url %>
            </div>
            <h3 class='title'><%= art.header %></h3>
            <p class='desc'><%= art.cover_text[0, 120] %>...</p>
            <div class='footer' style='display: flex; justify-content: space-between' dir='ltr'>
                <div>
                    <span class='author'>
                        <%= art.user.full_name %>
                        <span class='icon'>
                            <ion-icon name='person-outline'></ion-icon>
                        </span>
                    </span>
                </div>
                <div>
                    <span class="footer_icon link-danger" dir="ltr">
                        <span class='icon'>
                            <ion-icon name='heart'></ion-icon>
                        </span>
                        <%= art.article_likes.length %>
                    </span>
                    <span class='comments_count'>
                        <%= art.comments.length %>
                        <span class='icon'>
                            <ion-icon name='chatbubble-outline'></ion-icon>
                        </span>
                    </span>
                    <span class='datetime_span'>
                        <%= art.published_time %>
                        <span class='icon'>
                            <ion-icon name='calendar-outline'></ion-icon>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </a>
<% end %>