<div class="container" style="top: 0">
    <% if flash[:comment_removed_successfully] != nil && flash[:comment_removed_successfully] %>
        <div class="alert alert-danger">
            <button onclick="close_popup_alert_box(this)" class="close_button btn-none">
                <ion-icon name="close-outline"></ion-icon>
            </button>
            <div class="alert_content">
                کامنت مورد نظر با موفقیت حذف شد.
            </div>
        </div>
    <% end %>
    <% unless flash[:new_comment_success].nil? %>
        <div class="alert alert-success">
            <button onclick="close_popup_alert_box(this)" class="close_button btn-none">
                <ion-icon name="close-outline"></ion-icon>
            </button>
            <div class="alert_content">
                <%= flash[:new_comment_success] %>
            </div>
        </div>                
    <% end %>
    <div id="show_cardbox">
       <% if @article.present? %>
            <div class='card_Box'>
                <div style="display: block; width: 100%; margin-bottom: 10px;">
                    <h1 class='title' dir="rtl" style="margin-bottom: 10px;"><%= @article.header %></h3>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <% if show_actions %>
                                <%= link_to 'حذف', '/articles/confirm_delete_article/' + @article.slug, :style => 'display: inline-block', :class => 'link link-danger' %>
                                <%= link_to 'ویرایش', '/dashboard/edit_article/' + @article.slug, :style => 'margin-left: 10px; display: inline-block', :class => 'link' %>
                                <% if session[:user][:is_owner] && @article.published == false %>
                                    <div style="margin-left: 10px; display: inline-block; position: relative; top:1px">
                                        <%= form_with url: { :controller => :dashboard, :action => :submit_articles_that_not_verified } do |f| %>
                                            <%= f.hidden_field :slug, :value => @article.slug %>
                                            <%= f.hidden_field :next_page, :value => '/articles/show/'+@article.slug %>
                                            <%= f.submit 'تایید مقاله', :class => 'link btn-none' %>
                                        <% end %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <div>
                            <% if session[:user] != nil %>
                                <%= form_with url: {:controller => :likes, :action => :toggle_like} do |f| %>
                                    <input type="hidden" name="slug" value="<%= @article.slug %>">
                                    <button type="submit" class="like_button">
                                        <% if @article.liked(session[:user][:id]) %>
                                            <span class="cardbox_icon link-danger" dir="ltr">
                                                <span class='icon'>
                                                    <ion-icon name='heart'></ion-icon>
                                                </span>
                                                <%= @article.likes.length %>
                                            </span>
                                        <% else %>
                                            <span class="cardbox_icon" dir="ltr">
                                                <span class='icon'>
                                                    <ion-icon name='heart'></ion-icon>
                                                </span>
                                                <%= @article.likes.length %>
                                            </span>
                                        <% end %>
                                    </button>
                                <% end %>
                            <% else %>
                                <span class="cardbox_icon" dir="ltr">
                                    <span class='icon'>
                                        <ion-icon name='heart'></ion-icon>
                                    </span>
                                    <%= @article.likes.length %>
                                </span>
                            <% end %>
                            <span class="cardbox_icon" dir="ltr">
                                <span class='icon'>
                                    <ion-icon name='calendar-outline'></ion-icon>
                                </span>
                                <%= @article.published_time %>
                            </span>
                        </div>
                </div>
            </div>
            <div class='image cover'>
                <%= image_tag @article.image.url %>  
            </div>
            <div class="content md_to_html" style="margin: 10px 0;" dir="rtl">
                <%= @article.content %>
            </div>
            <div class="author_row">
                <div class="icon">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="value">
                    <%= @article.user.full_name %>
                </div>
            </div>
            <div class="comments">
                <% if session[:user] != nil %>
                  <% if @setting.present? && @setting.can_comment? == true || session[:user][:is_owner] || session[:user][:is_admin] %>
                    <div class="send_comment">
                        <h4 class="header">نظر شما درباره این مقاله چیست؟</h4>
                        <%= form_with model: @comment, url: articles_new_comment_url, method: :post do |f| %>
                            <%= f.hidden_field :slug, :value => @article.slug %>
                            <div class="input">
                                <%= f.text_area :content, :multiline => true, :style => 'height: 100px;', :rows => 600, :dir => :rtl %>
                            </div>

                            <div style="margin-top: 10px; margin-bottom: 10px;">
                                <% unless flash[:new_comment_errors].nil? %>
                                    <% flash[:new_comment_errors].each do |e| %>
                                        <div class="form_error_list">
                                            <div class="item"><%= e %></div>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>

                            <div dir="rtl" style="margin-bottom: 10px">
                                <%= render 'layouts/grecaptcha' %>
                            </div>


                            <%= f.submit "ثبت نظر", :class => 'btn btn-primary'%>
                        <% end %>
                    </div>
                <% end %>
                <% end %>
                <h2 class="header">
                    نظرات کاربران
                    <% if @article.comments.length > 0 %>
                        (<%= @article.comments.length %>)
                    <% end %>    
                </h2>
                <% if @article.comments.length > 0 %>
                    <% @comments.each do |c| %>
                        <div class="comment">
                            <div class="toolbar">
                              <% if session[:user] != nil  %>
                                <% if @article.user_id == session[:user][:id] || session[:user][:is_owner] || session[:user][:is_admin] %>
                                    <%= form_with url: articles_remove_comment_url, method: :post do |f| %>
                                      <%= f.hidden_field :hash_id, :value => c.hash_id %>
                                      <%= f.submit 'حذف', :class => 'link link-danger btn-none' %>
                                    <% end %>
                                <% end %>
                              <% end %>
                            </div>
                            <span class="sender"><%= c.user.full_name %></span>
                            <span class="datetime"><%= c.send_time %></span>
                            <p class="content" id="#comment_<%= c.hash_id %>">
                                <%= c.content.to_s.strip %>
                            </p>
                            <% if session[:user].present? %>
                                <% if @article.user_id == session[:user][:id] || session[:user][:is_owner] || session[:user][:is_admin] %>
                                    <div class="edit_comment_textarea" style="display: none">
                                        <%= form_with model: c, url: {:action => :edit_comment}, :html => {:style => "width: 100%;"}, method: :post do |f| %>
                                            <%= f.hidden_field :hash_id, :value => c.hash_id %>

                                            <div class="input">
                                                <%= f.text_area :content, :multiline => true, :style => 'height: 60px; width: 100%', :rows => 600, :dir => :rtl %>
                                            </div>

                                            <%= f.submit "ثبت", :class => 'btn btn-primary btn-large-padding'%>
                                            <div onclick="cancel_edit_comment(this)" class="btn btn-danger" style="display: inline-block">انصراف</div>
                                        <% end %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                <% else %>
                    <span style="display: block; width: 100%; text-align: center;" class="link">نظری وجود ندارد.</span>
                <% end %>
            </div>
        </div>
        <% else %>
            <span style='color: #777; font-size: 17px; width: 100%; display: block; text-align: center; padding: 20px 0'>مقاله مورد نظر پیدا نشد.</span>
        <% end %>
    </div>
</div>