<div id="home_intro">
    <div class="title">
        <h1>آموزش های پروژه محور و حرفه ای</h1>
        <h3 style="margin-top: 15px;">
            از ۰ تا ۱۰۰ با ویدیو های با کیفیت + سورس کد
        </h3>
    </div>

    <%= form_with url: '/search/submit_q', method: :post do |f| %>
        <div class="search-box">
            <div class="input input-bold">
                <%= f.text_field :search_q, :placeholder => "جست و جو کنید!" %>
                <button type="submit" class="submit-button">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
            </div>
        </div>
    <% end %>

    <a href="#home_content" id="goto_down_button" class="btn btn-none">
        <ion-icon name="arrow-down-outline"></ion-icon>
    </a>
</div>

<div id="home_content" class="container">
    <h2 class="container_title bb">مقالات محبوب</h2>
    <div class="listed_cards">
        <% if @popular_articles.length > 0 %>
            <% @popular_articles.each do |art| %>
                <a href="/articles/show/<%= art.slug %>">
                    <div class='card_box'>
                        <div class='image cover'>
                            <%= image_tag art.image.url %>
                        </div>
                        <h3 class='title'><%= art.header %></h3>
                        <p class='desc'><%= art.cover_text[0, 120] %>...</p>
                        <div class='footer' style='display: flex; justify-content: space-between' dir='ltr'>
                            <div>
                                <span class='author'>
                                    <%= art.user.full_name %>
                                    <span class='icon'>
                                        <ion-icon name='person-outline'></ion-icon>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <span class="footer_icon link-danger" dir="ltr">
                                    <span class='icon'>
                                        <ion-icon name='heart'></ion-icon>
                                    </span>
                                    <%= art.article_likes.length %>
                                </span>
                                <span class='comments_count'>
                                    <%= art.comments.length %>
                                    <span class='icon'>
                                        <ion-icon name='chatbubble-outline'></ion-icon>
                                    </span>
                                </span>
                                <span class='datetime_span'>
                                    <%= art.published_time %>
                                    <span class='icon'>
                                        <ion-icon name='calendar-outline'></ion-icon>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            <% end %>
        <% end %>
    </div>
</div>

<div id="footer">
    <span dir="rtl" class="center-text">تمامی حقوق برای devsparkle محفوظ می باشد.</span>
</div>