<div class="form center_form" style="padding-top: 20px;">
    <% if bad_token != nil && bad_token %>
        <div style="text-align: center;">
            <div style="width: 100%; display: block; margin-bottom: 10px;">
                <%= image_tag '/images/mail_error.svg', :style => 'width: 80px;', :alt => "mail error" %>
            </div>

            <span dir="rtl">توکن صحیح نمی باشد یا منقضی شده است.</span>
        </div>
    <% elsif form != nil && form %>
    	<%= form_with url: {:action => :submit_forgot_password_set_new}, method: :post do |f| %>
			<div class="input">
				<%= f.label :password, 'گذرواژه جدید' %>
				<%= f.password_field :password %>
			</div>

			<div class="input">
				<%= f.label :password_confirmation, 'تکرار گذرواژه جدید' %>
				<%= f.password_field :password_confirmation %>
			</div>

			<% unless flash[:forgot_password_set_new_errors].nil? %>
				<% flash[:forgot_password_set_new_errors].each do |e| %>
						<div class="form_error_list">
							<div class="item"><%= e %></div>
						</div>
				<% end %>
			<% end %>

			<div style="width: 100%; display: block; text-align: left;">
				<%= f.submit 'تغییر گذرواژه', :class => "btn btn-primary btn-large-padding" %>
			</div>
		<% end %>
    <% end %>
</div>