<div class="form center_form">
	<% if flash[:forgot_password_sended_successfully].nil? == false && flash[:forgot_password_sended_successfully] %>
		<div style="text-align: center;">
			<h3 class="form_title">فرمواشی گذرواژه</h3>

			<div style="width: 100%; display: block; margin-bottom: 10px;">
				<%= image_tag '/images/mail_sent.svg', :style => 'width: 80px;', :alt => "mail sent" %>
			</div>

			<p dir="rtl">
				لینک حاوی تغییر گذرواژه به ایمیل شما ارسال شد.
			</p>

			<div style="width: 100%; display: block; margin-top: 18px; margin-bottom: 10px;">
				<%= link_to 'صفحه ورود', users_signin_path, :class => "btn btn-primary btn-large-padding" %>
			</div>
		</div>
	<% else %>
		<h3 class="form_title">فرمواشی گذرواژه</h3>

		<%= form_with url: {:action => :submit_forgot_password}, method: :post do |f| %>
			<div class="input">
				<%= f.label :email, 'ایمیل شما' %>
				<%= f.text_field :email %>
			</div>

			<% unless flash[:forgot_password_errors].nil? %>
				<% flash[:forgot_password_errors].each do |e| %>
						<div class="form_error_list">
							<div class="item"><%= e %></div>
						</div>
				<% end %>
			<% end %>

			<div style="margin: 10px 0;">
				<%= render 'layouts/grecaptcha' %>
			</div>

			<div style="width: 100%; display: block; text-align: left;">
				<%= f.submit 'تایید', :class => "btn btn-primary btn-large-padding" %>
			</div>
		<% end %>
	<% end %>
</div>