<div class="form center_form">
	<h3 class="form_title">ورود</h3>

	<%= form_with model: @user, url: {:action => 'submit_signin'}, method: :post do |f| %>
		<div class="input">
			<%= f.label :username, 'نام کاربری' %>
			<%= f.text_field :username %>
		</div>
		<div class="input">
			<%= f.label :password, 'گذرواژه' %>
			<%= f.password_field :password %>
		</div>

		<% unless flash[:signin_errors_list].nil? %>
			<% flash[:signin_errors_list].each do |e| %>
				<div class="form_error_list">
					<div class="item"><%= e %></div>
				</div>
			<% end %>
		<% end %>

		<div style="margin-bottom: 10px;">
			<%= render 'layouts/grecaptcha' %>
		</div>

		<div style="width: 100%; display: block; text-align: left;">
			<%= f.submit 'ورود', :class => "btn btn-primary btn-large-padding" %>
		</div>
	<% end %>
	
	<div class="sepa"></div>

	<div class="link_row">
		<%= link_to 'صفحه ثبت نام', users_signup_path, :class => "link" %>
		<%= link_to 'فراموشی گذرواژه', users_forgot_password_path, :class => "link" %>
	</div>
</div>