<div class="input">
    <%= f.label :header, 'سر برگ' %>
    <%= f.text_field :header, :dir => :rtl %>
</div>

<div class="input">
    <%= f.label :cover_text, 'توضیحات کوتاه (کاور)' %>
    <%= f.text_area :cover_text, :dir => :rtl %>
</div>

<% if !preview_image %>
    <div class="input fileupload">
        <%= f.label :image, 'عکس', :style => 'display: block; width: 100%;' %>
        <div style="position: relative; margin-top: 16px; right: -6px">
            <%= f.label :image, 'انتخاب عکس', :class => 'btn btn-primary', :style => 'width: 100%; padding: 10px; text-align: center;' %>
            <%= f.file_field :image, accept: 'image/png,image/jpg,image/jpeg',:style => 'display: none' %>
        </div>
        <div class="image" style="display: none;">
            <img src="#" alt="preview image before upload" onload="imagePreloader(this)">
        </div>
    </div>
<% else %>
    <div class="input fileupload">
        <%= f.label :image, 'عکس', :style => 'display: block; width: 100%;' %>
        <div style="position: relative; margin-top: 16px; right: -6px;">
            <%= f.label :image, 'انتخاب عکس', :class => 'btn btn-primary', :style => 'width: 100%; padding: 10px; text-align: center;' %>
            <%= f.file_field :image, accept: 'image/png,image/jpg,image/jpeg',:style => 'display: none' %>
        </div>
        <div class="image">
            <%= image_tag @article.image.url, :alt => "preview image before upload", :onload => "imagePreloader(this)" %>
        </div>
    </div>
<% end %>

<div class="input">
    <%= f.label :price, 'قیمت دوره (تومان)' %>
    <%= f.number_field :price, :dir => :ltr, :only_integer => true %>
    <small>اگر دوره رایگان است قیمت آن را صفر قرار دهید</small>
</div>

<label class="checkbox">پایان دوره
    <%= f.check_box :course_finish_state %>
    <span class="checkmark"></span>
</label>

<% if session[:user][:is_owner] %>
    <label class="checkbox">انتشار دوره
        <%= f.check_box :published %>
        <span class="checkmark"></span>
    </label>
<% end %>
