<div id="page__content">
    <div class="container" style="top: 10px">
        <% if @course.present? %>
            <div class="sidebar_panel">
                <div class="sidebar_nav link_row">
                    <div class="covered_avatar" style="padding: 10px 0;">
                        <div class="avatar">
                            <div class="block_avatar">
                                <ion-icon name="card-outline" class="avatar avatar-icon"></ion-icon>
                                <a class="link link-large" style="margin: 10px 0;">
                                    قیمت این دوره
                                </a>
                                <span class="link-success">
                                    <% if @course.price == 0 %>
                                        رایگان
                                    <% else %>
                                        <%= @course.price %>
                                    <% end %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="sepa"></div>
                    <div dir="rtl">
                        <a class="link">
                            <span class="link-mute">مدرس این دوره : </span><span class="link-general"><%= @course.user.full_name %></span>
                        </a>
                        <a class="link link-mute">
                            تعداد ویدیو ها : <span class="link-black">0</span>
                        </a>
                        <a class="link link-mute">
                            سطح دوره : <span class="link-black"></span>
                        </a>
                        <a class="link link-mute">
                            تعداد دانشجویان : <span class="link-black">0</span>
                        </a>
                        <a class="link link-mute">
                            وضعیت دوره : <span class="link-black">
                                <% if @course.course_finish_state == true %>
                                    <span class="link-general">اتمام دوره</span>
                                <% else %>
                                    <span class="link-success">درحال برگزاری</span>
                                <% end %>
                            </span>
                        </a>
                        <a class="link link-mute">
                            آخرین بروزرسانی : <span class="link-black"><%= @course.published_time %></span>
                        </a>
                    </div>
                    <div class="sepa"></div>
                    <div style="margin: 5px 0;">
                        <%= form_with url: '', method: :post do |f| %>
                            <%= f.submit "عضویت در دوره", :class => "btn btn-primary btn-block", data: { disable_with: "لطفا صبر کنید" } %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="sidebar_contentside">
                <div id="show_cardbox">
                    <%# ANCHOR %>
                        <div class='card_Box'>
                            <div style="display: block; width: 100%; margin-bottom: 10px;">
                                <h1 class='title' dir="rtl" style="margin-bottom: 10px;"><%= @course.header %></h3>
                                <div style="display: flex; justify-content: space-between;">
                                    <div>
                                        <% if show_actions %>
                                            <%# NOTE %>
                                            <%= link_to 'حذف', '/articles/confirm_delete_article/' + @course.slug, :style => 'display: inline-block', :class => 'link link-danger' %>
                                            <%= link_to 'ویرایش', '/dashboard/edit_article/' + @course.slug, :style => 'margin-left: 10px; display: inline-block', :class => 'link' %>
                                            <% if session[:user][:is_owner] && @course.published == false %>
                                                <div style="margin-left: 10px; display: inline-block; position: relative; top:1px">
                                                    <%= form_with url: { :controller => :dashboard, :action => :submit_articles_that_not_verified } do |f| %>
                                                        <%= f.hidden_field :slug, :value => @course.slug %>
                                                        <%= f.hidden_field :next_page, :value => '/articles/show/'+@course.slug %>
                                                        <%= f.submit 'تایید مقاله', :class => 'link btn-none' %>
                                                    <% end %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                    <div>
                                        <span class="article_icon_span" dir="ltr">
                                            <span class='icon'>
                                                <ion-icon name='calendar-outline'></ion-icon>
                                            </span>
                                            <%= @course.published_time %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class='image cover'>
                                <%= image_tag @course.image.url %>  
                            </div>
                            <div class="author_row">
                                <div class="icon">
                                    <ion-icon name="person-outline"></ion-icon>
                                </div>
                                <div class="value">
                                    <%= @course.user.full_name %>
                                </div>
                            </div>
                        </div>
                    <%# ANCHOR %>
                </div>
            </div>
        <% else %>
            <span style='color: #777; font-size: 17px; width: 100%; display: block; text-align: center; padding: 20px 0'>دوره مورد نظر پیدا نشد.</span>
        <% end %>
    </div> 
</div>