<!DOCTYPE html>
<html>
  <head>
    <title>devsparkle.ir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/tags' %>
  </head>
  <body>
    <div id="app">
      <%= render 'layouts/header' %>
      <div id="dashboard_layout">
            <div id="page_content">
                <div class="container" style="top: 10px">
                    <div id="dashboard_panel">
                        <div class="covered_avatar">
                            <div class="avatar">
                                <div class="block_avatar">
                                    <div class="avatar">
                                        <%= @user['full_name'][0] %>
                                    </div>
                                    <span class="value"><%= @user['full_name'] %></span>
                                    <%= link_to 'خروج از حساب کاربری', users_logout_url, :class => "link" %>
                                </div>
                            </div>
                        </div>
                        <div id="dashboard_nav">
                            <%= link_to 'اطلاعات حساب کاربری', dashboard_edit_profile_url, :class => 'link' %>
                            <%= link_to 'تغییر رمز عبور', dashboard_change_password_url, :class => 'link' %>
                            <% if @user.is_owner? || @user.is_admin? %>
                                <%= link_to 'مقاله جدید', dashboard_manage_users_url, :class => 'link' %>
                                <%= link_to 'مقاله های شما', dashboard_manage_users_url, :class => 'link' %>
                                <%= link_to 'آمار کلی', dashboard_manage_users_url, :class => 'link' %>
                                <%= link_to 'آمار پر بازدید ترین مقاله ها', dashboard_manage_users_url, :class => 'link' %>
                                <%= link_to 'آمار پر لایک ترین مقاله ها', dashboard_manage_users_url, :class => 'link' %>
                                
                            <% end %>
                            <% if @user.is_owner? %>
                                <%= link_to 'مدیریت کاربران', dashboard_manage_users_url, :class => 'link' %>
                                <%= link_to 'مدیریت قوانین وبسایت', dashboard_manage_users_url, :class => 'link' %>
                                <%= link_to 'تنظیمات وبسایت', dashboard_manage_users_url, :class => 'link' %>
                            <% end %>
                        </div>
                    </div>
                    <div id="dashboard_content">
                        <%= yield %>
                    </div>
                </div> 
            </div>
      </div>
    </div>
  </body>
</html>